
{% include 'snippet.html' %}
    

<div class="container-fluid position-relative bg-dark d-flex p-0">
    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
        <nav class="navbar  navbar-light">
            <a href="/dashboard" class="navbar-brand mx-4 mb-3">
                <h5 class="text-primary">Scissors</h5>
            </a>

            <div class="navbar-nav w-100">
                <a href="/dashboard" class="nav-item nav-link active mb-2">
                    <i class="fa fa-tachometer-alt me-2"></i>
                    Dashboard
                </a>

                <a href="/shorten" class="nav-item nav-link mb-2">
                    <i class="uil uil-link me-2"></i>
                    Shorten URL
                </a>

                <a href="/history" class="nav-item nav-link mb-2">
                        <i class="uil uil-book me-2"></i>
                        History
                </a>

                <a href="/logout" class="nav-item nav-link mb-2">
                    <i class="uil uil-sign-out-alt me-2"></i>
                    Logout
                </a>
            </div>
        </nav>
    </div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0 ">

            <a href="/dashboard" class="navbar-brand d-flex d-lg-none me-4">
                <h6 class="text-primary mb-0">Scissors</h6>
            </a>

            <a href="#" class="sidebar-toggler flex-shrink-0">    
                <span><i class="fa fa-bars text-primary"></i></span>
            </a>
            
            <div class="navbar-nav align-items-center mx-auto ">
                <div class="d-none d-md-flex">
                    <div class="exam">
                        <p>Welcome, you are logged in to Scissors...</p>
                    </div>
                </div>
    
                <div class="nav-item dropdown imagefloat">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="/static/url/image/user.png" alt="" style="width: 50px; height: 50px;">
                            <span class="d-none d-lg-inline-flex">Godfrey Ani</span>
                        </a>
                        
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="/logout" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
            </div>
        </nav>
        <!-- Navbar End -->


        <div class="container-fluid">
            <div class="container p-5">
                <div class="shortnerDash">
                        <h3>QR Code Generator</h3>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="qrScan">
                                    <img id="qrCodeImage"  alt="QR Code" class="img-fluid">
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <div class="qrForm">
                                    <form action="#" id="urlForm">
                                        <div class="mb-5">
                                            <label for="qrUrl">Paste Long URL</label>
                                            <input type="text" class="form-control" id="longUrl" name="longUrl" placeholder="https://" required>
                                            <button type="submit" class="btn btn-outline-primary mt-3">Shorten Url</button>
                                        </div>

                                        <div class="mb-3">
                                            <label for="qrUrl">Short URL</label>
                                            <input type="text" id="shortUrl" class="form-control" placeholder="https://" readonly>
                                        </div>
                                    </form>
                                    
                                </div>
                            </div>  
                        </div>
                </div>
            </div>
        </div>

        <!-- Footer Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-light rounded-top p-4">
                <div class="">
                    <div class=" text-center fw-bold text">
                        &copy; <a href="/dashboard" class="text-primary">Scissors</a> || All Right Reserved. 
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
    </div>

</div>

<script>
    document.getElementById('urlForm').addEventListener('submit', async function(event) {
        event.preventDefault();
        const longUrl = document.getElementById('longUrl').value;

        const response = await fetch('/shorten/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                long_url: longUrl
            })
        });

        const data = await response.json();
        const shortUrl = window.location.origin + data.short_url;

        // Set the short URL value
        document.getElementById('shortUrl').value = shortUrl;

        // Set the QR code image
        document.getElementById('qrCodeImage').src = data.qr_code_path;
    });
</script>

    
